<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Stocks</title>
</head>
<body>
    <h1>All Stock Symbols</h1>
    <ul>
        <% for(let i = 0; i < symbols.length; i++) { %>
            <li><a href="/stocks/<%= symbols[i] %>"><%= symbols[i] %></a></li>
        <% } %>
    </ul>
</body>
</html>