<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/stocks/all">Stocks</a>
    <a href="/mutualfunds/all">MF</a>
    <a href="/crypto/assets">Crypto</a>


</body>
</html>